::-webkit-scrollbar {
    width: 0px;
}

.width-max, html {
    max-width: 800px !important;
}

@keyframes slideIn {
    from {
        margin-top: 100%;
        width: 100%;
    }

    to {
        margin-top: 0%;
        width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.table-container, .volume-slider-container {
    margin: auto;
    border-radius: 20px;
    font-family: "Lucida Sans";
    font-size: 11px;
    text-align: center;
    animation-duration: 1s;
    animation-name: fadeIn;
    z-index: 100;
    cursor: grabbing;
}

table {
    margin: auto;
    width: 700px;
    border-radius: 1em;
    overflow: hidden;
}

thead {
    background-color: whitesmoke;
    color: black;
}

tbody {
    background-color: whitesmoke;
    color: rgb(100, 100, 100);
}

tr {
    height: 40px;
}

tbody tr:hover {
    background-color: rgb(240, 240, 240);
}

.occupied {
    width: 800px;
    background-color: rgba(167, 48, 67, 0.9);
}

.free {
    background-color: rgba(19, 74, 31, 0.9);
    width: 800px;
}

.background {
    opacity: 0.3;
    position: fixed;
    z-index: -1;
    height: 480px;
    width: 800px;
    scroll-behavior: smooth;
}

body {
    z-index: 1000;
    height: 480px;
    width: 800px !important;
    overscroll-behavior-x: none;

}

.right {
    background-color: rgba(26, 26, 26, 0.65);
    width: 40%;
    padding: 50px;
    margin-left: 60%;
    height: 480px;
}

.left {
    width: 60%;
    position: absolute;
    color: white;
}

.next-or-current-meeting {
    width: 270px;
    right: 50px;
    position: relative;
    font-family: monospace;
    color: white;
    font-size: 24px;
    line-height: 2;
    min-height: 125px;
    margin-top: 35px;
}

.current-date {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 13px;
}

.current-time-div {
    font-size: 50px;
    font-family: monospace;
}

.next-meeting-p {
    font-size: 22px !important;
    font-weight: bold;
}

.next-meeting-org {
    font-size: 15px !important;
}

.room-name {
    text-align: left;
    font-size: 30px;
    margin: 50px 25px 25px 25px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
}

.condition {
    font-size: 30px;
    color: white;
    margin-left: 80px;
    border-bottom: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.countdown {
    width: 480px;
    font-size: 65px;
}

.countdown-text {
    font-size: 15px;
}

.my-button {
    background-color: white;
}

.book-time-slider {
    display: none;
    margin-left: 60px;
    margin-top: 85px;
    margin-right: 70px;
    width: 45%;
    animation-duration: 0.5s;
    animation-name: fadeIn;
    cursor: grabbing;
}

.book-meeting {
    border-radius: 20px;
    margin-left: 125px;
}

.cancel-meeting {
    border-radius: 20px;
    margin-left: 10px;
    z-index: 20;
    height: 25px;
    width: 25px;
    padding: 0;
    background-color: indianred;
    color: white;
    border: none;
}

#roomSelectModal, #tableModal, #volumeModal, #timeSliderModal, #changeMusicModal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 141px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

#tableModal {
    background-color: rgba(0, 0, 0, 0.7);
}

.time-slider {
    animation-duration: 0.5s;
    animation-name: fadeIn;
    -webkit-appearance: searchfield;
    appearance: none;
    height: 3px;
    border-radius: 5px;
    background: whitesmoke;
    outline: darkgrey;
    -webkit-transition: .5s;
    transition: opacity .2s;
    width: 100%;
    cursor: grabbing;
    appearance: none;
}

.time-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rosybrown;
    border: 5px solid whitesmoke;
    cursor: grabbing;
}

.volume-slider {
    animation-duration: 0.5s;
    animation-name: fadeIn;
    transform: rotate(-90deg);
    position: absolute;
    top: 365px;
    left: 75px;
    -webkit-appearance: searchfield;
    appearance: none;
    height: 3px;
    border-radius: 5px;
    background: whitesmoke;
    outline: darkgrey;
    -webkit-transition: .5s;
    transition: opacity .2s;
    width: 90px;
}

.volume-slider::-webkit-slider-thumb, .time-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rosybrown;
    border: 5px solid whitesmoke;
    cursor: grabbing
}


.book-time-btn, .finish-meeting {
    width: 165px !important;
    background-color: white;
    color: rgb(50, 50, 50);
    border-radius: 25px;
    margin-left: 55px;
    margin-top: 35px;
}

.ad-hoc-meeting {
    font-style: italic;
    margin-top: 100px;
    margin-left: 80px;
}

#myModal .modal-content {
    animation-duration: 1s !important;
    animation-name: fadeIn !important;
    width: 82%;
    left: 10%;
    margin-top: 15%!important;
    padding: 20px;
    border-radius: 10px;
}

.close {
    position: absolute;
    left: 93%;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.meeting-room-selector {
    position: absolute;
    top: 420px;
    left: 7%;
    width: 40px;
    height: 40px;
}


#roomSelectModal {
    padding-top: 190px;
}

#volumeModal {
    background-color: rgba(0, 0, 0, 0.3);
}

#timeSliderModal {
    background-color: rgba(0, 0, 0, 0.4);
}

#changeMusicModal {
    padding: 50px;
}

iframe {
    height: 380px;
    width: 700px;
}

.room-box {
    height: 110px;
    width: 110px;
    float: left;
    background-color: white;
    margin-left: 70px;
    color: rgb(54, 54, 54);
    text-align: center;
    text-align: center;
    border-radius: 60px;
    padding-top: 25px !important;
    animation-duration: 1s;
    animation-name: fadeIn;
    font-family: "Lucida Sans";
    font-size: 18px;
    border: dimgrey solid 2px;
}

.meetings, .volume, .volume-off, .change-music, .next-track, .change-music {
    position: absolute;
    top: 420px;
    left: 7%;
    width: 40px;
    height: 40px;
}

#all {
    background-color: rgb(180, 180, 180);
    color: white;
}

.volume {
    left: 21%;
}

.next-track {
    left: 45%;
}

.volume-off {
    left: 33%;
}

.change-music {
    left: 58%;
    top: 423px;
    height: 35px;
    width: 35px;
}

.volume-value {
    position: relative;
    left: 200px;
}

.refresh {
    width: 15px;
    position: absolute;
    margin-left: 200px;
    margin-top: -30px;
}

#progress-bar {
    height: 370px;
    margin-top: -250px;
    margin-left: -130px;
    z-index: 0;
}

body {
    touch-action: manipulation;
}

.book-meeting:hover, .book-time-btn:hover, .meetings:hover, .volume:hover, .next-track:hover, .change-music:hover, .volume-off:hover {
    cursor: pointer !important;
}

.no-meetings {
    font-family: 'Montserrat', sans-serif;
}

body {
    touch-action: none;
}


.popup, .popup-nexttrack, .popup-easter-egg {
    position: fixed;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext, .popup-nexttrack .popuptext, .popup-easter-egg .popuptext {
    visibility: hidden;
    width: 30px;
    background-color: whitesmoke;
    color: #839973;
    text-align: center;
    border: #839973 2px solid;
    border-radius: 20px;
    padding: 5px 0;
    position: fixed;
    z-index: 1;
    left: 165px;
    top: 380px;
}

.popup-nexttrack .popuptext  {
    left: 225px!important;
}

/* Popup arrow */
.popup .popuptext::after, .popup-nexttrack .popuptext::after, .popup-easter-egg .popuptext::after {
    content: "";
    position: absolute;
    top: 107%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show, .popup-nexttrack .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

body {
    cursor: pointer;
}
