::-webkit-scrollbar {
    width: 0px;
}

.width-max, html {
    max-width: 800px !important;
}

@keyframes slideIn {
    from {
        margin-top: 100%;
        width: 100%;
    }

    to {
        margin-top: 0%;
        width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.table-container {
    margin: auto;
    border-radius: 20px;
    font-family: "Lucida Sans";
    font-size: 11px;
    text-align: center;
    animation-duration: 1s;
    animation-name: fadeIn;
}

table {
    margin: auto;
    width: 700px;
    border-radius: 1em;
    overflow: hidden;
}

thead {
    background-color: whitesmoke;
    color: black;
}

tbody {
    background-color: whitesmoke;
    color: rgb(100, 100, 100);
}

tr {
    height: 40px;
}

tbody tr:hover {
    background-color: rgb(240, 240, 240);
}

.occupied {
    width: 800px;
    background-color: rgba(167, 48, 67, 0.83);
}

.free {
    background-color: rgba(19,74,31,0.83);
    width: 800px;
}

.background {
    opacity: 0.3;
    position: fixed;
    z-index: -1;
    min-height: 600px;
    width: 800px;
    scroll-behavior: smooth;
}

body {
    z-index: 1000;
    height: 480px;
    width: 800px !important;
    overscroll-behavior-x: none;

}

.right {
    background-color: rgba(26, 26, 26, 0.65);
    width: 40%;
    padding: 50px;
    margin-left: 60%;
    height: 480px;
}

.left {
    width: 60%;
    position: absolute;
    color: white;
}

.next-or-current-meeting {
    position: relative;
    font-family: monospace;
    color: white;
    font-size: 24px;
    line-height: 2;
    min-height: 125px;
    margin-top: 35px;
}

.current-date {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
}

.current-time-div {
    font-size: 50px;
    font-family: monospace;
}

.next-meeting-p {
    font-size: 14px !important;
    font-weight: bold;
}

.room-name {
    text-align: left;
    font-size: 30px;
    margin: 50px 25px 25px 25px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.condition {
    font-size: 30px;
    color: white;
    margin-left: 30px;
    border-bottom: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.countdown {
    width: 480px;
    font-size: 65px;
    margin-top: 30px;
}

.countdown-text {
    font-size: 15px;
}

.my-button {
    background-color: white;
}

.book-time-slider {
    margin-left: 70px;
    margin-top: 120px;
    margin-right: 70px;
    animation-duration: 0.5s;
    animation-name: fadeIn;
}

.book-meeting {
    border-radius: 20px;
    margin-left: 90px;
}

.slider {
    -webkit-appearance: searchfield;
    appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: darkgrey;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgb(74,69,67);
    cursor: grabbing
}

.volume-slider {
    animation-duration: 0.5s;
    animation-name: fadeIn;
    display: none;
    transform: rotate(90deg);
    position: absolute;
    top: 365px;
    left: 130px;
    -webkit-appearance: searchfield;
    appearance: none;
    height: 3px;
    border-radius: 5px;
    background: whitesmoke;
    outline: darkgrey;
    -webkit-transition: .5s;
    transition: opacity .2s;
    width: 90px;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgb(74,69,67);
    cursor: grabbing
}


.book-time-btn, .finish-meeting {
    width: 150px !important;
    background-color: white;
    color: rgb(50, 50, 50);
    border-radius: 25px;
    margin-left: 70px;
}

.ad-hoc-meeting {
    font-style: italic;
    margin-top: 100px;
    margin-left: 150px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: black;
    animation-duration: 1s;
    animation-name: fadeIn;
    border-radius: 10px;
}

.close {
    position: absolute;
    left: 93%;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.meeting-room-selector {
    position: absolute;
    top: 425px;
    left: 7%;
    width: 40px;
    height: 40px;
}

#roomSelectModal, #tableModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.room-box {
    height: 110px;
    width: 110px;
    float: left;
    background-color: white;
    margin-left: 40px;
    color: rgb(54,54,54);
    text-align: center;
    text-align: center;
    border-radius: 60px;
    padding-top: 30px!important;
    animation-duration: 1s;
    animation-name: fadeIn;
    font-family: "Lucida Sans";
}

.meetings, .volume {
    position: absolute;
    top: 425px;
    left: 20%;
    width: 40px;
    height: 40px;
}

#all {
    background-color: rgb(180,180,180);
    color: white;
}

.volume {
    left: 33%;
}
